{
    "extends": "rallycoding",
    "rules": {
        "arrow-body-style":0,
        "eol-last": 0,
        "semi": 0,
        "quotes": 0,
        "camelcase": 0,
        "no-lonely-if": 0
    }
 }


